*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gilroy';
	color: #fff;
}

html, body{
	height: 100%;
	width: 100%;
}
#main{
	height: 100%;
	width: 100%;
	background-color: #000;
}
nav{
	height: 100px;
	width: 100%;
/* 	background-color: red; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;
}
#nav-part2{
	display: flex;
	gap: 55px;
}
#nav-part3{
	display: flex;
	gap: 55px;
	align-items: center;
}
#nav-part3 button{
	background-color: #fff;
	color: #000;
	padding: 18px 25px;
	border: none;
	font-weight: 700;
	font-size: 16px;

}
img{
	height: 65px;
}

#main h1{
	font-size: 130px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
#main h1 span{
	background-color: brown;
	font-size: 25px;
	padding: 20px 40px;
	border-radius: 50px;
	margin: 0 50px;

}
#main h1:nth-child(2){
	margin-top: 60px;
}
#main #left-img{
	height: 250px;
	position: absolute;
	top: 20%;
	left: 6%;
	border-radius: 30px;
}
#main #right-img{
	height: 250px;
	position: absolute;
	bottom: 15%;
	right: 6%;
	border-radius: 30px;
}
#main h5{
	margin: 50px 0;
	text-align: center;

}

